@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 580px;
  font-family: 'Manrope', 'Times New Roman', sans-serif;
  /* font-family: 'Manrope', 'Segoe UI', sans-serif; */
}

app-root {
  display: block;
  width: 580px;
}